# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# local env files
.env*.local
.env.local.gcp
.env.local.vercel
.env.prod.gcp
.env.vercel-check
.env.vercel-pull

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
